@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff'),
        url('../BebasNeueRegular.bin') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff') format('woff'),
        url('../BebasNeueBold.bin') format('truetype');
    font-weight: 700;
    font-style: normal;
}






